NODE_ENV=development
PORT=6000
# DB
DATABASE_URL="PROVIDE YOUR OWN DB URL HERE"
# JWT
JWT_ACCESS_SECRET=
JWT_REFRESH_SECRET=
JWT_ACCESS_EXPIRES_IN=1d
JWT_REFRESH_EXPIRES_IN=7d
# BCRYPT
BCRYPT_SALT_ROUNDS=10
# URLS
BACKEND_URL=http://localhost:6000
# Allowed CORS origin for the browser client.
FRONTEND_URL=http://localhost:3000
# GOOGLE ID
GOOGLE_CLIENT_ID=
# Redis
REDIS_USER=default
REDIS_PASSWORD=
REDIS_HOST= 
REDIS_PORT=
# STMP
SMTP_USER=
EMAIL_SENDER=
SMTP_PASSWORD=
# Cloudinary
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
# Bkash
BKASH_BASE_URL=https://tokenized.sandbox.bka.sh/v1.2.0-beta
BKASH_USERNAME=sandboxTokenizedUser02
BKASH_PASSWORD=sandboxTokenizedUser02@12345
BKASH_APP_KEY=4f6o0cjiki2rfm34kfdadl1eqq
BKASH_APP_SECRET=2is7hdktrekvrbljjh44ll3d9l1dtjo4pasmjvs5vl5qr3fug4b
BKASH_CALLBACK_URL=http://localhost:5000/sprintly/api/v1
# Seed
ADMIN_NAME=ADMIN
ADMIN_EMAIL=admin@gmail.com
ADMIN_PASS=